<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFO30005Project: Vendor Application</title>
    <link rel="stylesheet" href="/css/partials/navbar-vendor.css">
    <link rel="shortcut icon" type="image/jpg" href="/vendor-logo.png" />
    <script src="https://kit.fontawesome.com/bcdf1da655.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <div class="img-container">
            <a href="/vendor/order">
                <img class="logo" src="/vendor-logo.png" alt="" />
            </a>
        </div>
        <div class="buttons">
            <a href="/vendor/order"> Orders</a>
        </div>
        <div class="buttons">
            <a href="/vendor/menu">My Menu</a>
        </div>
        <div class="buttons">
            <a href="/vendor/profile">My Profile</a>
        </div>
        <div class="buttons">
            <a href="/vendor/logout">Logout</a>
        </div>
    </div>
</body>