<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/login.css">
    <link rel="shortcut icon" type="image/jpg" href="/logo.png" />
    <title>Error</title>
</head>

<body>
    <div class="errorpg">
        <br>
        <br>
        <h1>{{message}}</h1>
        <a href="/"> Go to Home Page</a>
        <br>
        <a href="/vendor"> Go to Vendor App</a>
    </div>
</body>

</html>