<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFO30005Project: Customer Application</title>
    <link rel="stylesheet" href="/css/user/menu.css">
    <link rel="shortcut icon" type="image/jpg" href="/logo.png" />
</head>

<body>
    {{>navbar}}
    <section class="menu-page">
        <h1>Our Menu</h1>
        {{>menu}}
    </section>
</body>


</html>