<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/login.css">
    <title>INFO30005Project: Customer Application</title>
    <link rel="shortcut icon" type="image/jpg" href="/logo.png" />
</head>

<body>
    <div class="midcontent">
        <div class="back">
            <a href="/">Back to Home Page</a>
        </div>
        <div class="imgcontainer">
            <a href="/">
                <img src="/logo.png" alt=" logo" width="200" height="200">
            </a>
        </div>
        <div class="signincontainer">
            <h2>Sign in with your email address or mobile number</h2>
        </div>
        <div class="msg">
            <h4> {{error}}</h4>
            <h4>{{message}}</h4>
        </div>
        <form action="/user/login" method="POST">
            <div class="emailbox">
                <input type="email" name="email" placeholder="Enter Your Email Address or Mobile Number"
                    class="search-text">
            </div>

            <div class="passwordbox">
                <input type="password" name="password" placeholder="Enter Your Password" class="search-text">
            </div>

            <div class="buttons">
                <div class="continue-btn">
                    <input class="submit-btn" type="submit" value="Log in" id="submit">
                </div>

                <div class="forgotpassword-btn">
                    <input class="submit-btn" type="submit" value="Forget Password" id="forget-password">
                </div>

            </div>
        </form>

        <div class="newcust">
            <p> New to Snacks In A Van? <a href="/user/sign-up" class='signup'> Create a new account</a> </p>
        </div>

        <div class="personandbowl">
            <img src="/signup.png" class="image-content">
        </div>
    </div>

</body>

</html>