<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFO30005Project: Customer Application</title>
    <link rel="stylesheet" href="/css/user/partner-up.css">
    <link rel="shortcut icon" type="image/jpg" href="/logo.png" />
</head>

<body>
    {{>navbar}}

    <section class="content">
        <div class="content-wrapper">
            <img src="partnerup photo.png" alt="" class="image-background" />
            <div class="partner-up-header">PARTNER UP
                <div class="btns">
                    <div class="join-vendor-btn">
                        <a href="/vendor/">Join our vendor app</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main-content-container">
        <div class="main-content"> What you will need to apply
            <ul>
                <li>ID documents (passport, drivers license, etc</li>
                <li>Electronic Device (smartphones/tablets)</li>
                <li>Age 18 years and above</li>
                <li>Proof of right to work in Australia</li>
            </ul>
        </div>
        <img src="partnerup2.png" class="image-content">
    </section>
</body>


</html>